body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: blueviolet;
    font-family: cursive;
}

.calender-container {
    background-color: azure;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: (0,4px,8px, rgb(0,0,0,.3));
}

.month-name {
    margin: 0;
    background-color: chocolate;
    color: white;
    padding: 8px;
    font-size: 30px;
    font-weight: 500;
}

.day-name {
    font-size: 25px;
    color: gray;
}

.day-number {
    font-size: 80px;
    margin: 0;
    font-weight: bold;   
}

.year {
    margin: 0;
    font-size: 25px;
    color: gray;
    font-weight: 500;
}