body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 100px;
    color: aliceblue;
    backdrop-filter: brightness(.5);
    letter-spacing: 4px;
}

.btn {
    font-size: 25px;
    background-color: black;
    color: white;
    padding: 20px 40px;
    border: 4px solid;
    cursor: pointer;
    transition: 1s background-color;
    white-space: nowrap;
}

.btn:hover {
    background-color: white;
    color: black;

}

.split {
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
}

.split.left {
    position: absolute;
    left: 0;
    background-color: lightpink;
    background-image: url("https://images.unsplash.com/photo-1641460232841-e283da213de6?q=80&w=805&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
.split.right {
    position: absolute;
    right: 0;
    background-color: lightskyblue;
    background-image: url("https://images.unsplash.com/photo-1738830251513-a7bfef4b53c6?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

.active-left .left {
    width: 75%;
}

.active-right .right {
    width: 25%;
}

.active-right .left {
    width: 25%;
}

.active-right .right {
    width: 75%;
}

.left , .right {
    transition: width 2s ease-in-out;
}