body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: darkcyan;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.input {
    width: 100%;
    font-size: 25px;
    height: 30px;
}

.payment {
    font-weight: 600;
    font-size: 20PX;
}