body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-content: center;
    background-color: blueviolet;
    font-family: cursive;
}

.newyear {
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    letter-spacing: 4px;
}

.year {
    font-size: 5em;
    color: white;
    font-weight: bold;
}

.countdown {
    margin: 30px;
    color: white;
    background-color: rgba(0,0,0,.1);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown div {
    margin: 0 15px;
    font-size: 2.5em;
    font-weight: 500;
    margin-top: -25px;
    position: relative;
    text-align: center;
    width: 100px;
}

.countdown div::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: .35em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 35px;
    width: 100%;
    height: 35px;
    text-align: center;
}

.countdown #days::before {
    content: "Days";
}
.countdown #hours::before {
    content: "Hours";
}
.countdown #minutes::before {
    content: "Minutes";
}
.countdown #seconds::before {
    content: "Seconds";
}