body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
}

.search-bar-container {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    width: 300px;
    height: 50px;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 6px 6px 10px rgba(0,0,0,.3), -6px -6px 10px rgba(255,255,255,.5);
    margin: 10px;
    position: relative;
    transition: width 1.5s;
}

.magnifier {
    width: 25px;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

.mic-icon {
    width: 30px;
    position: absolute;
    right: 10px;
    transition: width .4s;
    transition-delay: 1s;
}

.input {
    background-color: transparent;
    border: none;
    margin: 10px 50px;
    color: gray;
    outline: none;
    width: 100%;
    transition: width 1s;
    transition-delay: .5s;
}

.active.search-bar-container {
    width: 50px;
}

.active .input {
    width: 0;
}

.active .mic-icon {
    width: 0;
}